@use "../global/setting" as *;

button {
    position: relative;
    width: 22rem;
    color: $color-sky;
    margin-top: 3rem;
    padding: 1.8rem 0;
    border: 0.1rem solid  $color-sky;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        right: 2rem;
        width: 0.5rem;
        height: 0.9rem;
        background: 
            url(../img/icon_arrow-right.png)
            no-repeat center center / cover;
    }
}

.blog__btn {
    color: $color-sky;
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (max-width: 766px) {
    button {
        width: 100%;
    }

    .blog__btn {
        font-size: 1.4rem;
    }
}