@use "../global/setting" as *;

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
        padding: 5rem 0;

        &--img {
            width: 28rem;
            height: 5.6rem;
        }
}

.main--visual {
    max-width: 100%;
    height: auto;
}

.nav__content {
    display: flex;
    gap: 8rem;
    padding: 4rem 0;
}

.nav__item {
    font-size: 1.8rem;
    letter-spacing: 0.1em;
}